.vwrapper, html, body {
    height: 100%;
    margin: 0;
}

body {
    text-align: justify;
    font-family: sans-serif;
    background-color: #181c20;
}

.vwrapper {
    z-index: 1;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: flex;
    background-color: #062F4F;
    color: #dddddd;
    box-shadow: 0 0 10px 0 black;
}

#navbar {
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 50px;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    background-color: #02192c;
    box-shadow: 0 0 10px 5px black;
}

#navbar  ul {
    list-style-type: none;
    text-align: center;
    table-layout: fixed;
    display: table;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    height: 100%;
}

#navbar  ul li {
    vertical-align: middle;
    display: table-cell;
}

#navbar  ul li a {
    display: block;
    padding: 15px 10px;
    font-size: 20px;
}
#navbar  ul li a:link {
    color:white;
    text-decoration:none;
}
#navbar  ul li a:visited {
    color:white;
    text-decoration:none;

}
#navbar  ul li a:hover {
    color:white;
    text-decoration: none;
    background-color: #01101b;
}

#navbar #currentPage a {
    color: red;
    background-color: #015592;
}